.about a:link {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 180px;
    font-weight: 450;
}

.about a:visited {
    color: black;
}

.about a:hover {
    color: rgba(54, 52, 52, 0.329);
}

img {
    width: 400px;
    border: 5px solid rgb(75, 129, 129);
    padding: 5px;
    background-color: rgb(75, 129, 129);
}

.footer {
    background-color: rgb(67, 74, 82);
    color: white;
    border-radius: 5px;
}

.footer a:link, a:visited {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: rgb(48, 47, 47);
}

@media screen and (max-width: 600px) {
    .headshot {
        width: 100%;
    }
}